@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

body {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("exampleee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(px);
  /* Adjust blur level here */
  z-index: -1;
  /* Ensure the pseudo-element is behind other content */
}
