.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    max-width: 80%;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
  }
  
  .formGroup input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .submitButton {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .closeButton {
    padding: 10px 20px;
    cursor: pointer;
  }